label{
    padding-left: 10px;
}

body{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

p{
    font-size: large;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.buttonContainer > div{
    margin: 1%;
}